@tailwind base;
@tailwind components;
@tailwind utilities;



.active{
    transition: 0.3s ease all;
    color: blue;
    transform: scale(1.1);
    /* background-color: rgb(60, 60, 78); */
}

.boxshadow{
  box-shadow: 0px 0px 8px 0px rgba(143,143,143,0.75);
-webkit-box-shadow: 0px 0px 8px 0px rgba(143,143,143,0.75);
-moz-box-shadow: 0px 0px 8px 0px rgba(143,143,143,0.75);
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #bdbdbd #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 11px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 14px;
    border: 3px solid #ffffff;
  }

  .MuiStepLabel-root{
    flex-direction: column;
    display: flex;
    gap: 10px;
  }
  .MuiStepLabel-iconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(194, 194, 194);
    color: white;
  }
  .MuiStepLabel-label	{
    display: flex;
    background-color: white !important;
  }
  .Mui-active{
background: #ff4b1f;
background: -webkit-linear-gradient(to right, #1fddff, #ff4b1f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1fddff, #ff4b1f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.name-container{
width: 100%;
}
.name-container:hover > .name-edit{
  display: block !important;
}
