@tailwind base;
@tailwind components;
@tailwind utilities;



.active{
    transition: 0.3s ease all;
    color: blue;
    transform: scale(1.1);
    /* background-color: rgb(60, 60, 78); */
}

.boxshadow{
  box-shadow: 0px 0px 8px 0px rgba(143,143,143,0.75);
-webkit-box-shadow: 0px 0px 8px 0px rgba(143,143,143,0.75);
-moz-box-shadow: 0px 0px 8px 0px rgba(143,143,143,0.75);
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #bdbdbd #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 11px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 14px;
    border: 3px solid #ffffff;
  }
